@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');


/* DESIGN FROM: */
/* https://www.figma.com/community/file/1041082497681424521 */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans','Sans-serif';
}

:root{
    --light-pageBackground: black;
    --light-calcBackground: #f1f2f3;
    --light-buttonColor1: white;
    --light-buttonColor2: #d2d3da;
    --light-buttonColor3: #4b5efc;

    --dark-pageBackground: black;
    --dark-calcBackground: #17171c;
    --dark-buttonColor1: #2e2f38;
}

html,body{
    width: 100vw;
    height: 100vh;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* THEME TOGGLE LIGHT/DARK*/
.theme-toggle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}


/* CALC */
.calc-container{
    min-width: 150px;
    width: 296px;
    /* aspect-ratio: 20 / 9;  */

    background-color: var(--light-calcBackground);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: none;
    border-radius: 20px;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 4em;
    padding-bottom: 30px;
}
.display > .past-operation{
    opacity: 0.3;
    font-size: 2rem;
}

p{
    word-wrap: break-word;
}

/* GRID for KEYBOARD */
.keyboard-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    /* grid-auto-rows: 50px; ROW SIZE*/

    justify-items: center;
    align-items: center;
}


/* Keyboard style */
button{
    height: fit-content;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 12px;
    width: 50px;

    background-color: var(--light-buttonColor1);
    font-size: 1em;
}

.horizontal-operator{
    background-color: var(--light-buttonColor2);
}

.vertical-operator{
    background-color: var(--light-buttonColor3);
    color: white;
}

@media (max-width: 500px){

    .calc-container{
        height: 100%;
        width: 100vw;
        border-radius: 0;
        padding: 20px;
    }

    button{
        width: 60px;
        font-size: 1.3em;
    }
}

