@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');


/* DESIGN FROM: */
/* https://www.figma.com/community/file/1041082497681424521 */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans','Sans-serif';
}


:root.dark{
    --pageBackground: #f1f2f3;
    --calcBackground: #17171c;
    --buttonColor1: #2e2f38;
    --buttonColor2: #aeafb5;
    --buttonColor3: #4b5efc;
    --textColor: white;
    --verticalTextColor: white;
}

:root.light{
    --pageBackground: #17171c;
    --calcBackground: #f1f2f3;
    --buttonColor1: white;
    --buttonColor2: #d2d3da;
    --buttonColor3: #4b5efc;
    --textColor: black;
    --verticalTextColor: white;
}



html,body{
    width: 100vw;
    height: 100vh;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* THEME TOGGLE LIGHT/DARK*/
.theme-toggle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}


/* CALC */
.calc-container{
    min-width: 150px;
    width: 296px;
    height: 592px;
    /* aspect-ratio: 20 / 9;  */

    background-color: var(--calcBackground);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: none;
    border-radius: 20px;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 4em;
    padding-bottom: 30px;
    color: var(--textColor)
}
.display > .past-operation{
    opacity: 0.3;
    font-size: 2rem;
}

p{
    word-wrap: break-word;
}

/* GRID for KEYBOARD */
.keyboard-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    /* grid-auto-rows: 50px; ROW SIZE*/

    justify-items: center;
    align-items: center;

    color: var(--textColor);
}


/* Keyboard style */
button{
    height: fit-content;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 12px;
    width: 50px;

    background-color: var(--buttonColor1);
    font-size: 1em;
    color: var(--textColor);

    cursor: pointer;
}

.horizontal-operator{
    background-color: var(--buttonColor2);
}

.vertical-operator{
    background-color: var(--buttonColor3);
    color: var(--verticalTextColor);
}

@media (max-width: 500px){

    .calc-container{
        height: 100%;
        width: 100vw;
        border-radius: 0;
        padding: 20px;
    }

    button{
        width: 60px;
        font-size: 1.3em;
    }
}


/* SWITCH THEME TOGGLE */
/* Toggle from: https://codepen.io/mburnette/pen/LxNxNg */
/* Tutorial: */
/* https://willianjusten.com.br/criando-um-switch-button-com-css */

.toggle-section{
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    opacity: 0;
}
/*label is the Switch "circle" that switches from left to right */
label{
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 22px;
    background-color: var(--buttonColor1);
    display: inline-block;
    border-radius: 25px;
    position: relative;
}

label:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-color: var(--buttonColor2);
    border-radius: 15px;
    transition: 0.3s;
}

input:checked ~ label{
    background-color: var(--buttonColor3);
}

input:checked ~ label:after{
    transform: translateX(22px);
}

label:active:after{
    width: 20px;
}